{% extends 'base.html' %}
{% load static %}

{% block title %}
    Авторизація
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'registration/styles/registration.css'%}">
    <link rel="stylesheet" href="{% static 'authorization/styles/authorization.css'%}">
{% endblock %}
{% block content %}
    <div class = "body">
        <form method = "post">
            {% csrf_token %}
            <div class = "registration-form">
                <h1 class = "title-form">Ваші дані</h1>
                <div class = "inputs">
                    {% for field in form %}
                        <div class = "input">
                            <h2 class = "input-label">{{ field.label_tag }}</h2>
                            <h2 class = "input-context">{{ field }}</h2>
                            <h2 class = "input-errors">{{ field.errors }}</h2>
                        </div>
                    {% endfor %}
                </div>
                <button class = "send-button" type = "submit">Відправити</button>
            </div>
        </form>
    </div>
{% endblock %}