{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'styles/style.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro&display=swap">
        {% block link %}
        {% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            <div class = "hat">
                <a href = "{% url 'main' %}" class = "url main">Головна</a>
                <a class = "url goal">Цілі</a>
                <a href = "{% url 'registration' %}" class = "url registration">Реєстрація</a>
                <a class = "url authorization">Авторизація</a>
            </div>
        </header>
        {% block content %}
        {% endblock %}
        <footer>
            <div class = "footer">
                <div class = "image">
                    <img class = "github-image" src="{% static 'images/icons/github.png'%}" alt="">
                </div>
                <div class = "footer-urls">
                    <a href="" class = "url about-me">Про мене</a>
                    <a href="" class = "url usefullnes">Корисність звичок</a>
                    <a href="" class = "url contacts">Контакти</a>
                </div>
            </div>
        </footer>
        {% block script %}
        {% endblock %}
    </body>
</html>